div(ng-form="legalForm")
    .alert.alert-error(ng-show="submitted && legalForm.$invalid")
        button.close(type="button", data-dismiss="alert") &times;
        p(ng-show="legalForm.legal.$error['required']") You must check the box below to continue.
    p
        label.checkbox I agree to the <a ng-click="agreement('Terms of Service', 'tos')">terms of service</a>, <a ng-click="agreement('Letter of Agency Agreement', 'loa')">letter of agency agreement</a> and <a ng-click="agreement('Privacy Policy', 'privacy')">privacy policy</a>.
            input(type="checkbox", name="legal", ng-checked="legal", ng-model="legal", value="true", required)
